h1{
    text-align: center;
    color: rgb(106, 104, 130);
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 3px 10px;
}
h2{
    font-family:  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
form{
    display: flex;
    align-content: center;
    justify-content: center;

}
.box{
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.247);
    box-shadow: 0 0 20px;
    border-radius:30px ;
    
}
body{
    background-image: radial-gradient(rgb(255, 0, 144),black);
}

input{
    text-transform:capitalize;
    background-color: rgba(0, 0, 255, 0);
    border: solid rgb(0, 0, 0);
    border-radius: 10px;
}
.tilifonat{
    display: flex;
    display:grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
}



.iphone{
    height: 200px;
}
p{
    color: black;
    text-align: center;
}
a{
    text-decoration: none;

}
a :hover{ 
    color: aqua;
}